#textdomain wesnoth-Wesnoth_Roguelite

[scenario]
    id = roguelite_character_select
    name = _"Choose Your Champion"
    next_scenario = roguelite_path_choice

    map_file = run_setup.map
    turns = 1
    victory_when_enemies_defeated = no

    [side]
        side = 1
        controller = human
        hidden = yes
        [leader]
            id = hero
            type = Spearman
            canrecruit = yes
        [/leader]
    [/side]

    [event]
        name = prestart

        # --- Faction selection ---
        [message]
            speaker = narrator
            image = "wesnoth-icon.png"
            message = _"<b>Choose your faction:</b>"
            variable = faction_pick
            [option]
                image = "units/human-loyalists/spearman.png"
                label = _"Loyalists"
                description = _"Versatile humans with strong infantry and magic."
                value = loyalist
            [/option]
            [option]
                image = "units/elves-wood/fighter/fighter.png"
                label = _"Elves"
                description = _"Swift woodland warriors with ranged precision."
                value = elf
            [/option]
            [option]
                image = "units/orcs/grunt.png"
                label = _"Northerners"
                description = _"Brutal orcs and goblins. Cheap and aggressive."
                value = orc
            [/option]
            [option]
                image = "units/undead-skeletal/skeleton/skeleton.png"
                label = _"Undead"
                description = _"Tireless hordes that fight best at night."
                value = undead
            [/option]
            [option]
                image = "units/drakes/fighter.png"
                label = _"Drakes"
                description = _"Powerful flying lizardfolk with fire attacks."
                value = drake
            [/option]
            [option]
                image = "units/dwarves/fighter.png"
                label = _"Knalgan Alliance"
                description = _"Tough dwarves and cunning outlaws."
                value = knalgan
            [/option]
        [/message]

        {VARIABLE chosen_faction $faction_pick}

        # --- Leader selection (level 1 only) ---
        [if]
            [variable]
                name = chosen_faction
                equals = loyalist
            [/variable]
            [then]
                [message]
                    speaker = narrator
                    image = "wesnoth-icon.png"
                    message = _"<b>Choose your leader:</b>"
                    variable = leader_pick
                    [option]
                        image = "units/human-loyalists/spearman.png"
                        label = _"Spearman"
                        value = Spearman
                    [/option]
                    [option]
                        image = "units/human-loyalists/bowman.png"
                        label = _"Bowman"
                        value = Bowman
                    [/option]
                    [option]
                        image = "units/human-loyalists/cavalryman/cavalryman.png"
                        label = _"Cavalryman"
                        value = Cavalryman
                    [/option]
                    [option]
                        image = "units/human-loyalists/fencer.png"
                        label = _"Fencer"
                        value = Fencer
                    [/option]
                    [option]
                        image = "units/human-magi/mage.png"
                        label = _"Mage"
                        value = Mage
                    [/option]
                    [option]
                        image = "units/human-loyalists/heavyinfantry.png"
                        label = _"Heavy Infantryman"
                        value = Heavy Infantryman
                    [/option]
                [/message]
            [/then]
        [/if]
        [if]
            [variable]
                name = chosen_faction
                equals = elf
            [/variable]
            [then]
                [message]
                    speaker = narrator
                    image = "wesnoth-icon.png"
                    message = _"<b>Choose your leader:</b>"
                    variable = leader_pick
                    [option]
                        image = "units/elves-wood/fighter/fighter.png"
                        label = _"Elvish Fighter"
                        value = Elvish Fighter
                    [/option]
                    [option]
                        image = "units/elves-wood/archer.png"
                        label = _"Elvish Archer"
                        value = Elvish Archer
                    [/option]
                    [option]
                        image = "units/elves-wood/scout/scout.png"
                        label = _"Elvish Scout"
                        value = Elvish Scout
                    [/option]
                    [option]
                        image = "units/elves-wood/shaman.png"
                        label = _"Elvish Shaman"
                        value = Elvish Shaman
                    [/option]
                [/message]
            [/then]
        [/if]
        [if]
            [variable]
                name = chosen_faction
                equals = orc
            [/variable]
            [then]
                [message]
                    speaker = narrator
                    image = "wesnoth-icon.png"
                    message = _"<b>Choose your leader:</b>"
                    variable = leader_pick
                    [option]
                        image = "units/orcs/grunt.png"
                        label = _"Orcish Grunt"
                        value = Orcish Grunt
                    [/option]
                    [option]
                        image = "units/orcs/archer.png"
                        label = _"Orcish Archer"
                        value = Orcish Archer
                    [/option]
                    [option]
                        image = "units/orcs/assassin.png"
                        label = _"Orcish Assassin"
                        value = Orcish Assassin
                    [/option]
                    [option]
                        image = "units/goblins/wolf-rider.png"
                        label = _"Wolf Rider"
                        value = Wolf Rider
                    [/option]
                [/message]
            [/then]
        [/if]
        [if]
            [variable]
                name = chosen_faction
                equals = undead
            [/variable]
            [then]
                [message]
                    speaker = narrator
                    image = "wesnoth-icon.png"
                    message = _"<b>Choose your leader:</b>"
                    variable = leader_pick
                    [option]
                        image = "units/undead-skeletal/skeleton/skeleton.png"
                        label = _"Skeleton"
                        value = Skeleton
                    [/option]
                    [option]
                        image = "units/undead-necromancers/adept-idle-1.png"
                        label = _"Dark Adept"
                        value = Dark Adept
                    [/option]
                    [option]
                        image = "units/undead/ghoul.png"
                        label = _"Ghoul"
                        value = Ghoul
                    [/option]
                [/message]
            [/then]
        [/if]
        [if]
            [variable]
                name = chosen_faction
                equals = drake
            [/variable]
            [then]
                [message]
                    speaker = narrator
                    image = "wesnoth-icon.png"
                    message = _"<b>Choose your leader:</b>"
                    variable = leader_pick
                    [option]
                        image = "units/drakes/fighter.png"
                        label = _"Drake Fighter"
                        value = Drake Fighter
                    [/option]
                    [option]
                        image = "units/drakes/clasher.png"
                        label = _"Drake Clasher"
                        value = Drake Clasher
                    [/option]
                    [option]
                        image = "units/drakes/burner.png"
                        label = _"Drake Burner"
                        value = Drake Burner
                    [/option]
                [/message]
            [/then]
        [/if]
        [if]
            [variable]
                name = chosen_faction
                equals = knalgan
            [/variable]
            [then]
                [message]
                    speaker = narrator
                    image = "wesnoth-icon.png"
                    message = _"<b>Choose your leader:</b>"
                    variable = leader_pick
                    [option]
                        image = "units/dwarves/fighter.png"
                        label = _"Dwarvish Fighter"
                        value = Dwarvish Fighter
                    [/option]
                    [option]
                        image = "units/dwarves/guard.png"
                        label = _"Dwarvish Guardsman"
                        value = Dwarvish Guardsman
                    [/option]
                    [option]
                        image = "units/dwarves/thunderer/thunderer.png"
                        label = _"Dwarvish Thunderer"
                        value = Dwarvish Thunderer
                    [/option]
                    [option]
                        image = "units/human-outlaws/footpad.png"
                        label = _"Footpad"
                        value = Footpad
                    [/option]
                [/message]
            [/then]
        [/if]

        {VARIABLE hero_type $leader_pick}

        # --- Name input ---
        [message]
            speaker = narrator
            image = "wesnoth-icon.png"
            message = _"<b>Name your champion:</b>"
            [text_input]
                variable = hero_name
                label = _"Name:"
                text = _"Aldric"
                max_length = 20
            [/text_input]
        [/message]

        [endlevel]
            result = victory
            next_scenario = roguelite_path_choice
            bonus = no
            carryover_percentage = 0
            carryover_report = no
            linger_mode = no
        [/endlevel]
    [/event]
[/scenario]
