#textdomain wesnoth-Wesnoth_Roguelite
[scenario]
    id = roguelite_battle_cave
    name = _"Conquest"
    next_scenario = roguelite_path_choice
    map_generation = lua
    [generator]
        id = mapgen_cave
        config_name = _"Cave"
        create_map = << return wesnoth.dofile("~add-ons/Wesnoth_Roguelite/lua/mapgen_cave.lua") >>
    [/generator]
    {UNDERGROUND}
    victory_when_enemies_defeated = yes
    {SCENARIO_MUSIC "underground.ogg"}
    {ROGUELITE_FLOOR_SIDES}
    {ROGUELITE_FLOOR_EVENTS}
[/scenario]
