#textdomain wesnoth-Wesnoth_Roguelite
[scenario]
    id = roguelite_battle_lava
    name = _"Battle — Lava Cavern"
    next_scenario = roguelite_path_choice
    map_generation = lua
    [generator]
        id = mapgen_lava
        config_name = _"Lava Cavern"
        create_map = << return wesnoth.dofile("~add-ons/Wesnoth_Roguelite/lua/mapgen_lava.lua") >>
    [/generator]
    {UNDERGROUND}
    victory_when_enemies_defeated = yes
    {SCENARIO_MUSIC "frantic.ogg"}
    {ROGUELITE_FLOOR_SIDES}
    {ROGUELITE_FLOOR_EVENTS}
[/scenario]
