#textdomain wesnoth-Wesnoth_Roguelite
[scenario]
    id = roguelite_floor_mountain
    name = _"Roguelite — Mountains"
    next_scenario = roguelite_path_choice
    map_generation = lua
    [generator]
        id = mapgen_mountain
        config_name = _"Mountains"
        create_map = << return wesnoth.dofile("~add-ons/Wesnoth_Roguelite/lua/mapgen_mountain.lua") >>
    [/generator]
    {DEFAULT_SCHEDULE}
    turns = 25
    victory_when_enemies_defeated = yes
    {SCENARIO_MUSIC "the_city_falls.ogg"}
    {EXTRA_SCENARIO_MUSIC "frantic.ogg"}
    {ROGUELITE_FLOOR_SIDES}
    {ROGUELITE_FLOOR_EVENTS}
[/scenario]
