#textdomain wesnoth-Wesnoth_Roguelite
[scenario]
    id = roguelite_battle_mushroom
    name = _"Conquest — Battle $battle_number"
    next_scenario = roguelite_path_choice
    map_generation = lua
    [generator]
        id = mapgen_mushroom
        config_name = _"Mushroom Grove"
        create_map = << return wesnoth.dofile("~add-ons/Wesnoth_Roguelite/lua/mapgen_mushroom.lua") >>
    [/generator]
    {UNDERGROUND}
    victory_when_enemies_defeated = yes
    {SCENARIO_MUSIC "travelling_minstrels.ogg"}
    {ROGUELITE_FLOOR_SIDES}
    {ROGUELITE_FLOOR_EVENTS}
[/scenario]
