#textdomain wesnoth-Wesnoth_Roguelite
[scenario]
    id = roguelite_battle_forest
    name = _"Battle — Forest"
    next_scenario = roguelite_path_choice
    map_generation = lua
    [generator]
        id = mapgen_forest
        config_name = _"Forest"
        create_map = << return wesnoth.dofile("~add-ons/Wesnoth_Roguelite/lua/mapgen_forest.lua") >>
    [/generator]
    {DEFAULT_SCHEDULE}
    victory_when_enemies_defeated = yes
    {SCENARIO_MUSIC "elvish-theme.ogg"}
    {EXTRA_SCENARIO_MUSIC "travelling_minstrels.ogg"}
    {ROGUELITE_FLOOR_SIDES}
    {ROGUELITE_FLOOR_EVENTS}
[/scenario]
