#textdomain wesnoth-Wesnoth_Roguelite
[scenario]
    id = roguelite_battle_plains
    name = _"Battle — Plains"
    next_scenario = roguelite_path_choice
    map_generation = lua
    [generator]
        id = mapgen_plains
        config_name = _"Plains"
        create_map = << return wesnoth.dofile("~add-ons/Wesnoth_Roguelite/lua/mapgen_plains.lua") >>
    [/generator]
    {DEFAULT_SCHEDULE}
    victory_when_enemies_defeated = yes
    {SCENARIO_MUSIC "the_city_falls.ogg"}
    {ROGUELITE_FLOOR_SIDES}
    {ROGUELITE_FLOOR_EVENTS}
[/scenario]
