#textdomain wesnoth-Wesnoth_Roguelite
[scenario]
    id = roguelite_battle_winter
    name = _"Battle — Winter Forest"
    next_scenario = roguelite_path_choice
    map_generation = lua
    [generator]
        id = mapgen_winter
        config_name = _"Winter Forest"
        create_map = << return wesnoth.dofile("~add-ons/Wesnoth_Roguelite/lua/mapgen_winter.lua") >>
    [/generator]
    {DEFAULT_SCHEDULE}
    victory_when_enemies_defeated = yes
    {SCENARIO_MUSIC "knolls.ogg"}
    {ROGUELITE_FLOOR_SIDES}
    {ROGUELITE_FLOOR_EVENTS}
[/scenario]
