#textdomain wesnoth-Wesnoth_Roguelite

#define ROGUELITE_DEATH_EVENT
    [event]
        name = last_breath
        first_time_only = no
        [filter]
            id = hero
        [/filter]

        [message]
            speaker = narrator
            image = "wesnoth-icon.png"
            message = _"<b>$hero_name has fallen...</b>"
        [/message]

        [message]
            speaker = narrator
            image = "wesnoth-icon.png"
            message = _"<b>Run $run_number complete.</b>

Battles won: $floors_cleared
Enemies slain: $kills_this_run
Renown earned: $renown
Territories won: $territories_won
Bosses slain: $bosses_slain
Wanderers hired: $wanderers_hired
Encounters: $encountered_units"
        [/message]

        [message]
            speaker = narrator
            image = "wesnoth-icon.png"
            message = _"What will you do?"
            variable = death_choice
            [option]
                label = _"Try again"
                description = _"Start a new run as $hero_name."
                value = retry
            [/option]
            [option]
                label = _"Start fresh"
                description = _"Pick a new faction and leader."
                value = reroll
            [/option]
        [/message]

        {VARIABLE hero_died yes}
        [if]
            [variable]
                name = death_choice
                equals = retry
            [/variable]
            [then]
                {VARIABLE_OP run_number add 1}
                {VARIABLE kills_this_run 0}
                {VARIABLE floors_cleared 0}
                {VARIABLE battle_number 1}
                {VARIABLE act_number 1}
                {VARIABLE renown 0}
                {VARIABLE tier2_unlocked no}
                {VARIABLE tier3_unlocked no}
                {VARIABLE unlocked_recruits ""}
                {VARIABLE defeated_leaders ""}
                {VARIABLE encountered_units ""}
                {VARIABLE run_pool_unlocked ""}
                {VARIABLE used_territory_names ""}
                {VARIABLE territories_won ""}
                {VARIABLE bosses_slain ""}
                {VARIABLE wanderers_hired 0}
                {VARIABLE last_territory_name ""}
                {VARIABLE last_enemy_leader ""}
                {VARIABLE last_scenario_type "start"}
                {VARIABLE current_biome ""}
                {VARIABLE encounter_type ""}
                [kill]
                    side = 1
                    fire_event = no
                    [not]
                        id = hero
                    [/not]
                [/kill]
                [endlevel]
                    result = victory
                    next_scenario = roguelite_path_choice
                    bonus = no
                    carryover_percentage = 0
                    carryover_report = no
                    linger_mode = no
                [/endlevel]
            [/then]
        [/if]

        [if]
            [variable]
                name = death_choice
                equals = reroll
            [/variable]
            [then]
                {VARIABLE_OP run_number add 1}
                {VARIABLE kills_this_run 0}
                {VARIABLE floors_cleared 0}
                {VARIABLE battle_number 1}
                {VARIABLE act_number 1}
                {VARIABLE renown 0}
                {VARIABLE tier2_unlocked no}
                {VARIABLE tier3_unlocked no}
                {VARIABLE unlocked_recruits ""}
                {VARIABLE defeated_leaders ""}
                {VARIABLE encountered_units ""}
                {VARIABLE run_pool_unlocked ""}
                {VARIABLE used_territory_names ""}
                {VARIABLE territories_won ""}
                {VARIABLE bosses_slain ""}
                {VARIABLE wanderers_hired 0}
                {VARIABLE last_territory_name ""}
                {VARIABLE last_enemy_leader ""}
                {VARIABLE last_scenario_type "start"}
                {VARIABLE current_biome ""}
                {VARIABLE encounter_type ""}
                [kill]
                    side = 1
                    fire_event = no
                    [not]
                        id = hero
                    [/not]
                [/kill]
                [endlevel]
                    result = victory
                    next_scenario = roguelite_character_select
                    bonus = no
                    carryover_percentage = 0
                    carryover_report = no
                    linger_mode = no
                [/endlevel]
            [/then]
        [/if]

        {CLEAR_VARIABLE death_choice}
    [/event]
#enddef
